<footer>
    <div>
        <p>Copyright © <span id="yearSpan"></span>. NationXpress All rights reserved.</p>
        <p>Powered by NationXpress | <a href="">Beware Of Frauds</a></p>
        <p>Last Login: <strong><?php echo  $this->session->userdata('last_log'); ?></strong></p>
    </div>
</footer>
</div>



<!-- Main JS -->
<script src="assets/js/main.js"></script>

<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    var idleTime = 0;
    $(document).ready(function () {
        // Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

        // Zero the idle timer on mouse movement.
        $(this).mousemove(function (e) {
            idleTime = 0;
            
        });
        $(this).keypress(function (e) {
            idleTime = 0;
        });
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 20) { // 20 minutes
            window.location.href = "/logout";
        }
    }
</script>
</body>

</html>