<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Dashboard | NationXpress</title>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/iziToast.min.css">
 
    <!-- FLATICON CSS -->
    <link href="assets/webfonts/uicons-regular-rounded.css" rel="stylesheet">
    <link href="assets/webfonts/uicons-solid-rounded.css" rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Selectize JS -->
    <script src="assets/js/jquery.min.3.1.js"></script>
    <!--<script src="assets/js/selectize.min.js"></script>-->
    <script src="assets/js/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>-->
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script type="text/javascript"  src="https://www.policymaster.com/assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="assets/js/angular-datepicker.js"></script>
    <script src="assets/js/iziToast.min.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/pagination.js"></script>
    <script src="assets/js/pageover.js"></script>
    <link rel="stylesheet" href="assets/css/selectize.bootstrap5.min.css">
    <link rel="stylesheet" href="assets/css/pageover.css">
</head>

<body
    style="background: url(/assets/images/blue-abstract-gradient-wave-wallpaper.jpg) center center; background-size: cover;">
    <div class="dashboard">
        <!--LOADER-->
    <!-- <div class="loader-bg" id="loaderAnim">
        <div class="loader-outer">
            <div class="loader">
                <span style="--i: 6"></span>
                <span style="--i: 7"></span>
                <span style="--i: 8"></span>
                <span style="--i: 9"></span>
                <span style="--i: 10"></span>
                <span style="--i: 11"></span>
                <span style="--i: 12"></span>
                <span style="--i: 13"></span>
                <span style="--i: 14"></span>
                <span style="--i: 15"></span>
                <span style="--i: 16"></span>
                <span style="--i: 17"></span>
                <span style="--i: 18"></span>
                <span style="--i: 19"></span>
                <span style="--i: 20"></span>
            </div>
        </div>
    </div> -->
    
    <!--LOADER-->
        <div class="header">
            <div class="top-header">
                <span><a href="mailto:query@nationxpress.in">Email: <strong>query@nationxpress.in</strong></a> |
                    <a href="tel:011-4122 1111">Call: <strong>011-4122 1111</strong></a></span>
                <p class="support-hide">Support timings: <strong>Mon-Fri: 10:00AM-6:00PM | Sat: 10:00AM-2:00PM </strong>
            </p></div>
            <div class="mid-header bg-white">
                <div class="logo">
                    <a href="index.php">
                        <img src="assets/images/logo-light1.png" alt="" width="150" draggable="false">
                    </a>
                    <div class="acct-detail">
                        <p class="shadow"><img class="profile-image-small" src="assets/images/user.png" alt=""
                                width="15"> WELCOME: </p>
                        
                            <p class="shadow">WALLET: ₹</p>
                        
                    </div>
                    <img class="uti-logo" src="assets/images/UTIITSL.png" alt="" width="150" draggable="false">
                </div>
            </div>